<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stock_forecast.mapper.UserStockMapper">

    <insert id="save" parameterType="userStock">
        insert into user_stock values (#{uid},#{stock_id},#{stock_name})
    </insert>

    <select id="judgeCollection" parameterType="userStock" resultType="userStock">
        select * from user_stock where uid=#{uid} and stock_id=#{stock_id}
    </select>

    <delete id="delete" parameterType="userStock">
        delete from user_stock where uid=#{uid} and stock_id=#{stock_id}
    </delete>
</mapper>